*.env
.local
.DS_Store
/.*
!/.gitignore
!/.github/
/ods_data*
/target
/dist
*.oci.tar
/trud-releases.json
/worker/node_modules
/worker/.wrangler
/worker/dist
/worker/results
/results
/site/node_modules
/site/dist
/site/.astro